@font-face {
  font-family: KalamehFaNum;
  src: url(../fonts/KalamehWeb-Bold.woff);
}
@font-face {
  font-family: KalamehFaNumRegular;
  src: url(../fonts/KalamehWeb-Regular.woff);
}
body {
  background-color: #262626;
  padding: 40px;
  margin-right: 5rem;
}
@media only screen and (max-width: 900px) {
  body {
    margin-right: 0;
  }
}

.text_rtl {
  color: var(--shade-gray-gray-0, #fff);
  font-family: KalamehFaNum;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text_rtl_line {
  margin-right: 24px;
}
@media only screen and (max-width: 900px) {
  /* مخفی کردن کلاس text_rtl_line در موبایل */
  .text_rtl_line {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* مخفی کردن کلاس text_rtl_line در تبلت */
  .text_rtl_line {
    display: none;
  }
}
.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 24px;
}

.box1,
.box2,
.box3 {
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--shade-gray-gray-10, #333);
  background: var(--shade-gray-gray-10, #333);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.box1 {
  flex: 1;
  margin-right: auto;
  margin-left: 0;
}

.box2 {
  flex: 1;
  margin: 0 20px;
}

.box3 {
  flex: 2;
  margin-left: auto;
  margin-right: 0;
  margin-left: 65px;
}

/* تنظیمات برای حالت موبایل */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .box1,
  .box2,
  .box3 {
    margin: 0;
    margin-bottom: 10px; /* یک فاصله کوچک بین باکس‌ها اضافه کنید */
  }
}
/* تنظیمات برای حالت تبلت */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .box1,
  .box2,
  .box3 {
    margin: 0;
    margin-bottom: 10px; /* یک فاصله کوچک بین باکس‌ها اضافه کنید */
  }
}

.text-container {
  color: var(--shade-gray-gray-6, #808080);
  /* body 1 */
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 25px;
  margin-top: 5px;
}

.text-container2 {
  color: var(--shade-gray-gray-0, #fff);
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 75%;
  margin-top: -37px;
}
.text-container_2_2 {
  color: var(--shade-gray-gray-6, #808080);
  /* body 1 */
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 25px;
  margin-top: 5px;
}

.text-container2_2_2 {
  color: var(--shade-gray-gray-0, #fff);
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 85%;
  margin-top: -37px;
}
.text-container_3_3 {
  color: var(--shade-gray-gray-6, #808080);
  /* body 1 */
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 25px;
  margin-top: 12px;
}

.text-container2_3_3 {
  color: var(--shade-gray-gray-0, #fff);
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -22px;
}

/* در دسکتاپ */
@media (min-width: 768px) {
  .text-container2_3_3 {
    margin-right: 93%;
  }
}

/* در موبایل */
@media (max-width: 900px) {
  .text-container2_3_3 {
    margin-right: 85%;
  }
}

.x {
  /* margin-right: 30%; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* مخفی کردن عنصر در موبایل و تبلت */
@media only screen and (max-width: 900px) {
  .x {
    display: none;
  }
}
.my-container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
  padding-left: 1.3rem;
}

.my-box {
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--shade-gray-gray-10, #333);
  background: var(--shade-gray-gray-10, #333);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.my-box:nth-child(3) {
  grid-row: span 2;
}

.my-box:nth-child(4) {
  grid-column: span 2;
}
.my2 {
  margin-left: 65px;
}
.my-box_l_e {
  display: flex;
  padding: 24px;
  flex-direction: row-reverse; /* تغییر جهت در سمت راست */
  gap: 24px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--shade-gray-gray-10, #333);
  background: var(--shade-gray-gray-10, #333);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.be_r,
.be_l {
  flex: 1; /* تسلط بر فضای flex داخل .my-box_l_e */
}

.be_r {
  display: flex;
  flex-direction: column;
}

.be_l {
  display: flex;
  flex-direction: column;
}
.be_r_t {
  color: var(--shade-gray-gray-5, #999);

  /* body 1 */
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.be_l_t {
  color: var(--shade-gray-gray-0, #fff);

  /* body 1 */
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.be_g_s {
  color: #7bcc67;
}
.i_t_c {
  margin-bottom: -9px;
  margin-left: 10px;
  font-family: KalamehFaNumRegular;
}
.qr_img {
  width: 262px;
  height: 262px;
}
.l_text_e_d {
  margin-top: -1.5rem;
}
.bar-container {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}

.bar {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.bar.first {
  background: #8e6e94;
}

.bar.second {
  background: #449271;
}

.bar.third {
  background: #4d4d4d;
}
.t_c_r_e {
  text-align: center;
}
.t_x_e_w {
  color: rgba(153, 153, 153, 1);
}
@media only screen and (max-width: 900px) {
  .my-container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .l_text_e_d {
    margin-top: 10px; /* افزودن فاصله 10 پیکسل از بالا */
    text-align: center; /* وسط چین کردن متن داخل */
  }

  .l_text_e_d img {
    margin-right: 0; /* حذف margin-right قبلی */
    margin-top: 10px; /* افزودن فاصله 10 پیکسل از بالا */
    display: inline-block; /* افزودن این خاصیت برای درست نمایش در وسط */
  }
}
@media only screen and (max-width: 900px) {
  .my2 {
    text-align: center;
    box-sizing: border-box;
    padding: 10px; /* افزودن padding برای جلوگیری از تداخل با محتوا */
    margin-left: 0px;
  }

  .my2 p {
    margin-bottom: 10px;
  }

  .qr_img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; /* افزودن این خاصیت برای حفظ نسبت ابعاد تصویر */
  }
}
.new-container {
  margin-top: 1rem;
  padding-left: 65px;
}

@media (max-width: 900px) {
  .new-container {
    margin-top: 1rem;
  }
}
.box_hi_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  max-width: 100%; /* تعیین حداکثر عرض صفحه */
}

.rectangle {
  width: 100%;
  height: 50px; /* یا ارتفاع دلخواه دیگری */
  background-color: white; /* یا رنگ دیگری */
  border-radius: 4px;
  border: 1px solid var(--shade-gray-gray-10, #333);
  background: var(--shade-gray-gray-10, #333);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 900px) {
  .box_hi_container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; /* اضافه کردن justify-content برای وسط چین کردن */

  }
.rectangle{
  padding-left: 4rem;
}

/* کد CSS برای صفحات با عرض کمتر از 900 پیکسل */


}
.asdfl {
  color: var(--shade-gray-gray-5, #999);

  /* body 1 */
  font-family: KalamehFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f_m_img {
  position: relative;
  top: -32px;
  margin-left: 20px;
}
@media (max-width: 900px) {
  .f_m_img {
    margin-left: -31px; 
  }
}

.f_t_tt_i {
  position: relative;
  margin-top: 5px;
  top: -8px;
}
.f_img {
  position: relative;
  margin-top: 12px;
  margin-right: 15px;
  width: 25px;
  height: 25px;
}
/*  */
.be_l_t {
  text-align: left;
  direction: rtl;
}
.text-container2{
  direction: ltr;
  margin-left: 5px;
}
.kdfj{

    direction: rtl;
    unicode-bidi: bidi-override;
}